<!--creating table for image and introduction-->

<table>
    <th>
        <td style="width: 35%">
            <img src="\Assets\images\param.JPG" class="rounded float-left" alt="Arsh" width="70%">
            <img src="" width="70%" >
        </td>
        <td>
            <p>I am Parambir Singh, the creater of this website. I am currently in third semester of Software Engineering Technician.
                <ul>
                     <li> I am originally from India and moved to Canada in April 2021. I live in Scarbrogh.</li>
                     <li>I am 19 and My birthday is on 25th April.</li>
                     <li>I am a freelance photographer since 2018.</li>
                </ul>
             </p>
        </td>
    </th>
</table>

<table>
    <th>
        <td>
            <p>
                <ul>
                     <li>I am new to Software Engineering. I learnt basic C#, SQL, JavaScript and python in first two semesters.</li>
                     <li>My aim is to start my own IT company by gaining some experience first.</li>
                     <li>I like playing guitar, drawing and coding.</li>
                </ul>
             </p>
        </td>
        <td style="width: 30%">
            <img src="\Assets\images\rp.JPG" width="100%" >          
        </td>
    </th>
</table><br>

<!--linking pdf version of Resume-->
<h3>Link to resume of Parambir Singh</h3>
 <a href="/Assets/resume.pdf"><button type="button" class="btn btn-secondary">Resume</button></a>

