<h4>
    I offer the following services:
</h4><br>
<ul>
    <li>Building Websites for local businesses</li>
    <img src="/Assets/images/local2.png" width="60%"><br>
    <li>Graphic Designing</li>
    <li>Teaching basic C#, HTML/CSS, Javascript, SQL and python to begineers</li>
</ul>
        <!--Refrences for images
        https://www.oberlo.com/blog/best-small-business-website-examples
        https://www.netleafinfosoft.com/our-blog/2020/01/13/what-does-a-graphic-designer-do-for-your-company/
        --> 
    