<h4>
    I offer various web design services.
</h4>
<ul>
    <li>Building Websites for local businesses</li>
    <li>Graphic Designing</li>
    <li>Teaching basic C#, HTML/CSS, Javascript, SQL and python to begineers</li>
</ul>