<h4>
    I offer the following services:
</h4><br>
<ul>
    <li>Building Websites for local businesses</li>
    <img src="/Assets/images/local2.png" width="80%"><br><br><br>

    <li>Graphic Designing</li>
    <img src="/Assets/images/graphicdesign.jpg" width="80%"><br><br><br>

    <li>Teaching basic C#, HTML/CSS, Javascript, SQL and python to begineers</li>
    <img src="/Assets/images/teaching.webp" width="80%"><br><br><br>
</ul>


        <!--Refrences for images
        https://www.oberlo.com/blog/best-small-business-website-examples
        https://www.netleafinfosoft.com/our-blog/2020/01/13/what-does-a-graphic-designer-do-for-your-company/
        https://skillcrush.com/blog/64-online-resources-to-learn-to-code-for-free/
        --> 
    